<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Login | Minka Oauth Server</title>

  <link rel="stylesheet" href="libraries/bootstrap-4.1.3/css/bootstrap.css">
  <link rel="stylesheet" href="libraries/style/custom.css">
  <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>

  <script type="text/javascript" src="libraries/jquery-3.3.1/jquery.js"></script>
  <script type="text/javascript" src="libraries/bootstrap-4.1.3/js/bootstrap.js"></script>
</head>
<body>
  <!-- container -->
  <div
    class="container-fluid h-100 d-flex justify-content-center align-items-center bg-dark">
    <!-- card -->
    <div
      class="card w-100 rounded-0">
      <img
        class="card-img-top w-5 align-self-center mt-3"
        src="images/minka-logo.svg">
      <p class="text-center h1" style="color: #36159d">Minka</p>
      <!-- card body -->
      <div
        class="card-body">
        <!-- form -->
        <form
          class="w-100 d-flex flex-column justify-content-center align-items-center"
          method="post"
          action="/user/signIn?response_type={{response_type}}&scope={{scope}}&client_id={{client_id}}&state={{state}}&redirect_uri={{redirect_uri}}">
          <!-- username input -->
          <div
            class="form-group">
            <label
              for="username">
              Nombre de usuario
            </label>
            <input
              class="form-control"
              id="username"
              name="username">
          </div>
          <!-- password input -->
          <div
            class="form-group">
            <label
              for="password">
              Contraseña
            </label>
            <input
            type="password"
            class="form-control"
            id="password"
            name="password">
          </div>
          <!-- button -->
          <button
            type="submit"
            class="btn btn-primary">
            Entrar
          </button>
        </form>
        <!-- end form -->
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end container -->
</body>
</html>
